p At BlueScienceFactory we solve difficult scientific and 
    | computing problems. Our experienced staff are scientists 
    | from broad backgrounds and disciplines.
    | Each client is paired with the an individual investigator 
    | closest to their subject matter. We pride ourselves in 
    | delivering actionable analysis and usable results 
    | (with a high degree of transparency).
